{% extends 'myapp/base.html' %}
{% block content %}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <div class="alert alert-success text-center">
                <h1>Your Account has been created successfully!</h1>
                <p>Thank you for registering with our online bus reservation system. You can now enjoy the convenience of booking your bus tickets online.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
